@{
    List<Business.Luthier> luthier = ViewBag.Luthier;
    Business.Luthier dadosLuthier = ViewBag.DadosDoLuthier;
    List<Business.Instrumento> instrumentos = ViewBag.Instrumentos;
    List<Business.Habilidade> habilidades = ViewBag.Habilidades;
    List<Business.HabilidadePorLuthier> habilidadesAtualLuthier = ViewBag.HabilidadesDoLuthier;
    List<Business.Servico> todosServicos = ViewBag.Servicos;
    int idDoLuthier = 0;


}

<h2><u>Dados do profissional</u></h2>
<table class="table">
    <tr>
        <td>ID (Luthier)</td>
        <td>Nome do luthier</td>
        <td>ID (Usuário)</td>
        <td>Avaliação</td>
        <td>CNPJ</td>
        <td>CPF</td>
        <td>Email</td>
    </tr>
    <tr>
        <td>@dadosLuthier.id</td>
        <td>@dadosLuthier.nome</td>
        <td>Pendente</td>
        <td>@dadosLuthier.avaliacao</td>
        <td>@dadosLuthier.cnpj</td>
        <td>@dadosLuthier.cpf</td>
        <td>@dadosLuthier.email</td>
    </tr>
</table>
<br />

<h2><u>Serviços disponíveis pelo profissional</u></h2>
<table class="table">
    <tr>
        <td>Serviço</td>
        <td>Instrumento alvo</td>
    </tr>
    @{
        int teste = 0;
        foreach (var h in habilidadesAtualLuthier)
        {
            <tr>
                <td>@todosServicos[habilidades[h.idHabilidade-1].idServico-1].descricao</td>
                <td>@instrumentos[habilidades[h.idHabilidade - 1].idInstrumento-1].nome</td>
            </tr>
        }
    }
</table>