@{
    List<Business.Luthier> luthier = ViewBag.Luthier;
    Business.Luthier dadosLuthier = ViewBag.DadosDoLuthier;
    List<Business.Instrumento> instrumentos = ViewBag.Instrumentos;
    List<Business.Habilidade> habilidades = ViewBag.Habilidades;
    List<Business.HabilidadePorLuthier> habilidadesAtualLuthier = ViewBag.HabilidadesDoLuthier;
    List<Business.Servico> todosServicos = ViewBag.Servicos;
    int idDoLuthier = 0;

    // Habilidade-Serviço
    Dictionary<int, string> servicoPorHabilidade = new Dictionary<int, string>();
    Dictionary<int, string> instrumentoPorHabilidade = new Dictionary<int, string>();
    int idDaHab = 0;
    int idDoServico = 0;
    int idDoInstrumentoDaHab = 0;
    foreach (var skill in habilidades)
    {
        idDoServico = skill.idServico;
        idDaHab = skill.id;
        foreach (var service in todosServicos)
        {
            if (idDoServico == service.id)
            {
                servicoPorHabilidade.Add(idDaHab, service.descricao);
            }
        }
    }
    // Habilidade-Instrumento
    foreach (var habs in habilidades)
    {
        idDoInstrumentoDaHab = habs.idInstrumento;
        idDaHab = habs.id;
        foreach (var inst in instrumentos)
        {
            if (idDoInstrumentoDaHab == inst.id)
            {
                instrumentoPorHabilidade.Add(idDaHab, inst.nome);
            }
        }
    }
}

<h2><u>Dados do profissional</u></h2>
<table class="table">
    <tr>
        <td>ID (Luthier)</td>
        <td>Nome do luthier</td>
        <td>ID (Usuário)</td>
        <td>Avaliação</td>
        <td>CNPJ</td>
        <td>CPF</td>
        <td>Email</td>
    </tr>
    <tr>
        <td>@dadosLuthier.id</td>
        <td>@dadosLuthier.nome</td>
        <td>Pendente</td>
        <td>@dadosLuthier.avaliacao</td>
        <td>@dadosLuthier.cnpj</td>
        <td>@dadosLuthier.cpf</td>
        <td>@dadosLuthier.email</td>
    </tr>
</table>
<br />

<h2><u>Serviços disponíveis pelo profissional</u></h2>
<table class="table">
    <tr>
        <td>Serviço</td>
        <td>Instrumento alvo</td>
    </tr>
    @{
        int teste = 0;
        foreach (var h in habilidadesAtualLuthier)
        {
            <tr>
                <td>@servicoPorHabilidade[h.idHabilidade]</td>
                <td>@instrumentoPorHabilidade[h.idHabilidade]</td>
            </tr>
        }
    }
</table>