@{
    List<Business.Luthier> luthier = ViewBag.Luthier;
    Business.Luthier dadosLuthier = ViewBag.DadosDoLuthier;
    List<Business.Instrumento> instrumentos = ViewBag.Instrumentos;
    List<Business.Habilidade> habilidades = ViewBag.Habilidades;
    List<Business.HabilidadePorLuthier> habilidadesAtualLuthier = ViewBag.HabilidadesDoLuthier;
    List<Business.Servico> todosServicos = ViewBag.Servicos;
    int idDoLuthier = 0;
    int qtdPedidosRecebidos = 0;
    var qtdPedidosDoLuthier = new Business.Pedido().BuscarPedidoPorLuthier(dadosLuthier.id);

    if (luthier != null)
    {
        if (luthier.Count > 0)
        {
            idDoLuthier = luthier[0].id;
        }
    }

    var fotoPerfilLuthierAtual = new Business.ImagemLuthier();
    List<Business.ImagemLuthier> imagensDoAtualLuthier = new Business.ImagemLuthier().ListarTodas();
    foreach (var imagem in imagensDoAtualLuthier)
    {
        if (imagem.idLuthier == dadosLuthier.id && imagem.tipoImg == "Foto de perfil")
        {
            fotoPerfilLuthierAtual = imagem;
        }
    }

    // Encontrando conta logada
    var conta = Business.Conta.BuscaPorStatusLogin(Session.SessionID);
    ViewBag.Conta = conta;
    Business.Conta contaLogada = (Business.Conta)conta;

    // Coletando os dados da última filtragem realizada pelo usuário
    var ultimaFiltragem = Business.UltimaFiltragem.BuscaUltimaFiltragemPorConta(contaLogada.id.ToString());
    Business.UltimaFiltragem lastFiltragemDefinitiva = (Business.UltimaFiltragem)ultimaFiltragem;

    // Coletando servico escolhido pelo usuário
    var idServicoEscolhidoPorUsuario = lastFiltragemDefinitiva.idUltimoServicoPesq;
    var testeLesgo = ViewBag.InstrumentoEscolhido;
    var testeLegoDois = ViewBag.ServicoEscolhido;
    TempData["servFinal"] = idServicoEscolhidoPorUsuario;
    string servicoEscolhidoPorUsuario = "";
    foreach (var ss in todosServicos)
    {
        if (ss.id == idServicoEscolhidoPorUsuario)
        {
            servicoEscolhidoPorUsuario = ss.descricao;
        }
    }

    // Coletando instrumento escolhido pelo usuário
    var idInstrumentoEscolhidoPorUsuario = lastFiltragemDefinitiva.idUltimoInstrumentoPesq;
    TempData["instFinal"] = idInstrumentoEscolhidoPorUsuario;
    string instrumentoEscolhidoPorUsuario = "";
    foreach (var ii in instrumentos)
    {
        if (ii.id == idInstrumentoEscolhidoPorUsuario)
        {
            instrumentoEscolhidoPorUsuario = ii.nome;
        }
    }

    // Habilidade-Serviço
    Dictionary<int, string> servicoPorHabilidade = new Dictionary<int, string>();
    Dictionary<int, string> instrumentoPorHabilidade = new Dictionary<int, string>();
    int idDaHab = 0;
    int idDoServico = 0;
    int idDoInstrumentoDaHab = 0;
    foreach (var skill in habilidades)
    {
        idDoServico = skill.idServico;
        idDaHab = skill.id;
        foreach (var service in todosServicos)
        {
            if (idDoServico == service.id)
            {
                servicoPorHabilidade.Add(idDaHab, service.descricao);
            }
        }
    }
    // Habilidade-Instrumento
    foreach (var habs in habilidades)
    {
        idDoInstrumentoDaHab = habs.idInstrumento;
        idDaHab = habs.id;
        foreach (var inst in instrumentos)
        {
            if (idDoInstrumentoDaHab == inst.id)
            {
                instrumentoPorHabilidade.Add(idDaHab, inst.nome);
            }
        }
    }
}

@if (instrumentoEscolhidoPorUsuario != "" && servicoEscolhidoPorUsuario != "")
{
    <form action="~/pedido/solicitar" method="post">
        <input type="hidden" id="idLuthier" name="idLuthier" value="@dadosLuthier.id" />
        <input type="submit" id="btnSolicitarServico" name="btnSolicitarServico" class="btn btn-secondary" size="55" style="width: 1300px; background: #ffd42a; color: rgba(0,0,0,.5); border: white;" value="Solicitar serviço" />
        <br /><small><u>@instrumentoEscolhidoPorUsuario > @servicoEscolhidoPorUsuario</u> (Este será o serviço que você solicitará caso clique no botão acima, conforme a filtragem que realizou há pouco.)</small>
    </form>
    <br />
}
else
{
    <label>Para contratar algum serviço deste profissional, volte à <a href="/" style="color: #ffd42a">página inicial</a>, realiza a filtragem e escolha @dadosLuthier.nome! &#128516;</label>
}

<div>
    <div style="float:left;">
        <h2><u>Dados do profissional</u></h2>
        <table class="table">
            <tr>
                <td><b>ID (Luthier)</b></td>
                <td><b>Nome do luthier</b></td>
                <td><b>Pedidos recebidos</b></td>
                <td><b>CNPJ</b></td>
                <td><b>CPF</b></td>
                <td><b>Email</b></td>
                <td><b>Foto de perfil</b></td>
            </tr>
            <tr>
                @{
                    string cpfDoLuthier = "********" + Convert.ToString(dadosLuthier.cpf[dadosLuthier.cpf.ToString().Length - 3]) + Convert.ToString(dadosLuthier.cpf[dadosLuthier.cpf.ToString().Length - 2]) + Convert.ToString(dadosLuthier.cpf[dadosLuthier.cpf.ToString().Length - 1]);
                }
                <td>@dadosLuthier.id</td>
                <td>@dadosLuthier.nome</td>
                <td>@qtdPedidosDoLuthier.Count</td>
                <td>@dadosLuthier.cnpj</td>
                <td>@cpfDoLuthier</td>
                <td>@dadosLuthier.email</td>
                <td>
                    @if (fotoPerfilLuthierAtual.caminhoImagem == null || fotoPerfilLuthierAtual.idLuthier == 0 || fotoPerfilLuthierAtual.nomeImagem == null || fotoPerfilLuthierAtual.tipoImg == null)
                    {
                        <label>O Luthier ainda não cadastrou uma foto</label>
                    }
                    else
                    {
                        <img src="~/UploadedFiles/profilePhotos/luthier/@fotoPerfilLuthierAtual.nomeImagem" width="200px" height="200px" />
                    }
                </td>
            </tr>
        </table>
        <br />
    </div>
</div>
<br />

<h2><u>Serviços disponíveis pelo profissional</u></h2>
<table class="table">
    <tr>
        <td><b>Serviço</b></td>
        <td><b>Instrumento alvo</b></td>
    </tr>
    @{
        int teste = 0;
        foreach (var h in habilidadesAtualLuthier)
        {
            <tr>
                <td>@servicoPorHabilidade[h.idHabilidade]</td>
                <td>@instrumentoPorHabilidade[h.idHabilidade]</td>
            </tr>
        }
    }
</table>