@{
    ViewBag.Title = "Home Page";
    List<Business.Instrumento> instrumentosAtivos = ViewBag.Instrumentos;
    var todosServicos = TempData["servicos"] as List<Business.Servico>;
    var servicosDoInstrumento = TempData["servicosDoInstrumento"] as List<Business.Habilidade>;
    int iterador = 0;
    string manageBotao = "";

    var nomeDoInstrumentoSelecionado = "Selecione";
    var idDoInstrumentoSelecionado = 0;

    if (servicosDoInstrumento != null)
    {
        foreach (var item in instrumentosAtivos)
        {
            if (servicosDoInstrumento.Count > 0)
            {
                if (servicosDoInstrumento[0] != null)
                {
                    if (item.id == servicosDoInstrumento[0].idInstrumento)
                    {
                        nomeDoInstrumentoSelecionado = item.nome;
                        idDoInstrumentoSelecionado = item.id;
                    }
                }
            }
        }
    }

    if (servicosDoInstrumento != null)
    {
        manageBotao = "block";
    }
    else
    {
        manageBotao = "none";
    }
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<style>
    body {
        background-color: #000;
    }

    .jumbotron {
        position: relative;
        /*background: none;*/
        background: black;
    }

        .jumbotron:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 100%;
            opacity: 0.2;
            z-index: -1;
        }

    .about_us {
        display: flex;
        margin-top: 100px;
    }

    .video_about_us {
        width: 60%;
    }

    .button_text_about_us {
        width: 40%;
    }

    .text_about_us h1 {
        color: #FFF;
    }

    .text_about_us p {
        color: #FFF;
        font-size: 15px;
    }

    .btn_about_us {
        padding: 15px 50px;
        border-radius: 10px;
        background: #F7AA1C;
        color: #FFF;
        font-weight: bold;
    }

    .button_about_us {
        margin-top: 62px;
        margin-left: 70px;
    }

    .news {
        background-color: #F7AA1C;
        margin-top: 100px;
    }

    .specialist {
        margin-top: 100px;
    }

    .specialist_text {
        color: #FFF;
        font-weight: bold;
        font-size: 40px;
        width: 60%;
    }

    .img_specialist {
        margin-top: 50px;
    }
</style>

<div class="jumbotron">
    <center>
        <form action="/filtrar" method="post">
            <h2 style="color: white;">O que você precisa?</h2>
            <label style="color: white">Qual é o seu instrumento com pendência?</label><br />
            <select class="form-select" style="color: black;" onchange="coletarDadosDoSelect();" id="selInstrumentos" name="selInstrumentos">
                <option id="optionDefault" name="optionDefault" value="@idDoInstrumentoSelecionado">@nomeDoInstrumentoSelecionado</option>
                @foreach (var instrumento in instrumentosAtivos)
                {
                    <option style="color: rgba(0,0,0,.5);" id="txtInstrumento/@instrumento.id" name="txtInstrumento/@instrumento.id" value="@instrumento.id">@instrumento.nome</option>
                    iterador = iterador + 1;
                }
            </select><br />

            @if (servicosDoInstrumento == null)
            {
                <small class="form-text text-muted"><i style="color: white">Selecione um instrumento</i></small>
            }

            @{
                if (servicosDoInstrumento != null)
                {
                    <br /><select class="form-select" style="color: black;" id="selServicosDoInst" name="selServicosDoInst" onchange="coletarDadosDoSelectDois();">
                        <option id="optionDefaultDois" name="optionDefaultDois">Selecione</option>
                        @foreach (var servicoDoInstrumento in servicosDoInstrumento)
                        {
                            <option style="color: rgba(0,0,0,.5);" id="txtServico/@todosServicos[servicoDoInstrumento.idServico - 1].id" name="txtServico/@todosServicos[servicoDoInstrumento.idServico - 1].id" value="@todosServicos[servicoDoInstrumento.idServico - 1].id">
                                @todosServicos[servicoDoInstrumento.idServico - 1].descricao
                            </option>
                        }
                    </select>
                    <br />
                    <small class="form-text text-muted"><i style="color: white">Selecione um serviço</i></small>
                }
            }
            <br /><br />
            <input type="submit" name="btnSubmit" id="btnSubmit" class="btn btn-primary" value="Filtrar profissionais" class="btn btn-secondary" style="background: white; color: rgba(0,0,0,.5); border: white; display:@manageBotao;" />



            <div class="about_us" style="justify-content: center;">
                <!---<div class="video_about_us">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/SViXoFL6iyc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>-->
                
                <div class="button_text_about_us">
                    <div class="text_about_us">
                        <h1>A <span style="color: #F7AA1C">primeira</span> plataforma voltada para serviços em instrumentos</h1>
                        <p>Conheça mais sobre a nossa plataforma e como podemos te ajudar com reparos de seus instrumentos.</p>
                    </div>

                    <div class="button_about_us">
                        <button class="btn_about_us">VEJA COMO FUNCIONA</button>
                    </div>
                </div>
            </div>

            <div class="news">
                <img src="~/UploadedFiles/src/Alo-removebg-preview.png" width="40%">

            </div>

            <div class="specialist">
                <h1 class="specialist_text">Conheça alguns de nossos melhores profissionais</h1>

                <div class="img_specialist">
                    <img src="~/UploadedFiles/src/espe-removebg-preview.png" width="33%" />
                    <img src="~/UploadedFiles/src/espe-removebg-preview.png" width="33%" />
                    <img src="~/UploadedFiles/src/espe-removebg-preview.png" width="33%" />
                </div>
            </div>
            <input style="display:none" type="text" id="btnLocaliza" onclick="getLocation()"></input>
            <input type="text" name="localizacaoUsuario" id="localizacaoUsuario" style="display:none;"/>
            <input type="text" name="instrumento" id="instrumento" style="display:none;" value="1" />
            <input type="text" name="idInstrumentoFinal" id="idInstrumentoFinal" style="display:none;" />
            <input type="text" name="idServicoFinal" id="idServicoFinal" style="display:none;" />
        </form>
    </center>
</div>

<script>
    function coletarDadosDoSelect() {
        var select = document.getElementById("selInstrumentos");
        var opcaoTexto = select.options[select.selectedIndex].text;
        var opcaoValor = select.options[select.selectedIndex].value;
        document.getElementById('instrumento').value = opcaoValor;
        var botao = document.getElementById('btnSubmit');
        botao.click();
    }

    function coletarDadosDoSelectDois() {
        var select = document.getElementById("selServicosDoInst");
        var opcaoTexto = select.options[select.selectedIndex].text;
        var opcaoValor = select.options[select.selectedIndex].value;
        document.getElementById('idServicoFinal').value = opcaoValor;
    }



    jQuery(function ($) {
        $(document).ready(function () {
            document.getElementById('btnLocaliza').click();
            console.log(document.getElementById('demo').innerHTML);
            var localizacaoDoUsuario = document.getElementById('demo').innerHTML;
        });
    });

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        }
    }

    function showPosition(position) {
        var array = [];
        array.push(position.coords.latitude);
        array.push(position.coords.longitude);
        var dado = JSON.stringify(array);
        document.getElementById('localizacaoUsuario').value = dado;
        
    }

    jQuery(function ($) {
        $(document).ready(function () {
            document.getElementById('idInstrumentoFinal').value = document.getElementById('optionDefault').value;
            var options = document.getElementById("selServicosDoInst").options;

            for (let i = 0; i < options.length; i++) {
                //document.getElementById('selServicosDoInst').options[i].value = document.getElementById('selServicosDoInst').options[i].value
                console.log(options[i].text);
            }
        });
    });
</script>