@{
    ViewBag.Title = "Autenticacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string idDaSessao = Session.SessionID;
    List<Business.Instrumento> instrumentos = ViewBag.Instrumentos;
    List<Business.Habilidade> habilidades = ViewBag.Habilidades;
    List<Business.Servico> todosServicos = ViewBag.Servicos;

    Dictionary<int, string> instrumentoPorHabilidade = new Dictionary<int, string>();
    Dictionary<int, string> servicoPorHabilidade = new Dictionary<int, string>();
    Dictionary<int, int> idDoInstrumentoPorHabilidade = new Dictionary<int, int>();
    int idDoInstrumentoDaHab = 0;
    int idDaHab = 0;
    int idDoServico = 0;

    foreach(var skilla in habilidades)
    {
        idDoInstrumentoDaHab = skilla.idInstrumento;
        idDaHab = skilla.id;
        idDoInstrumentoPorHabilidade.Add(idDaHab, idDoInstrumentoDaHab);
    }

    foreach (var habs in habilidades)
    {
        idDoInstrumentoDaHab = habs.idInstrumento;
        idDaHab = habs.id;
        foreach(var inst in instrumentos)
        {
            if(idDoInstrumentoDaHab == inst.id)
            {
                instrumentoPorHabilidade.Add(idDaHab, inst.nome);
            }
        }
    }

    foreach(var skill in habilidades)
    {
        idDoServico = skill.idServico;
        idDaHab = skill.id;
        foreach(var service in todosServicos)
        {
            if(idDoServico == service.id)
            {
                servicoPorHabilidade.Add(idDaHab, service.descricao);
            }
        }
    }

    int ajustarFormulario = 95;

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<style>
    .container {
        width: 90vw;
        height: @ajustarFormulario vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .centraliza {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .form-check-input:checked {
        background-color: darkseagreen;
        border-color: darkseagreen;
    }

    .jumbotron {
        position: relative;
        /* background: none; */
        background: #4F4407;
    }

    .jumbotron {
        padding: 6rem 25rem;
    }
</style>
<div class="centraliza">
    <div id="divCadastro">
        <div class="container">
            <div class="jumbotron">

                <h2 class="display-4" style="color: white;">Novo Luthier</h2>

                <form action="/autenticacao/criarLuthier" method="post">
                    <br /><h3 style="color: white; font-weight: 300;"><u>Informações pessoais</u></h3>
                    <div class="form-group">
                        <label style="color: white;">Nome completo</label><span style="color: red; margin-left: 2px;">*</span>
                        <input type="text" class="form-control" id="txtNome" name="txtNome" placeholder="Insira seu nome completo">
                        <input type="text" class="form-control" id="arrayServicos" name="arrayServicos" style="display:none;" />
                    </div>

                    <div class="form-group">
                        <label style="color: white;">Nome do usuário</label><span style="color: red; margin-left: 2px;">*</span>
                        <input type="text" class="form-control" id="txtUsuario" name="txtUsuario" placeholder="Exemplo: mariogioia">
                        <small id="emailHelp" class="form-text text-muted"><i style="color: darkseagreen">Você usará este nome para acessar sua conta</i></small>
                    </div>

                    <div class="form-group">
                        <label style="color: white;"> Senha</label><span style="color: red; margin-left: 2px;">*</span>
                        <input type="password" class="form-control" id="txtSenha" name="txtSenha" placeholder="Insira sua senha">
                        <input style="display: none;" type="text" class="form-control" id="idSessao" name="idSessao">
                        <!--<small id="emailHelp" class="form-text text-muted">Nunca compartilhe sua senha com alguém.</small>-->
                    </div>

                    <div class="form-group">
                        <label style="color: white;">CPF</label><span style="color: red; margin-left: 2px;">*</span>
                        <input type="text" class="form-control" id="txtCpf" name="txtCpf" placeholder="Insira apenas números">
                    </div>

                    <div class="form-group">
                        <label style="color: white;">CNPJ</label><span style="color: red; margin-left: 2px;">*</span>
                        <input type="text" class="form-control" id="txtCnpj" name="txtCnpj" placeholder="Insira apenas números">
                    </div><br />

                    <!---<h3 style="color: white; font-weight: 300;"><u>Instrumentos</u></h3><span style="color: darkseagreen; margin-left: 225px;"><input type="button" id="btnInstrumentos" name="btnInstrumentos" onclick="revelaListaInstrumentos();" class="btn-info" value="Revelar lista de instrumentos" style="background-color: darkseagreen; border-color: darkseagreen" /></span>
    <div class="form-group">
        <div id="divInstrumentos" name="divInstrumentos" style="display:none;"><br />
            <table class="table" style="color:white;">
                <tr>
                    <td><center style="font-size: 20px;">Instrumento</center></td>
                    <td><center style="font-size: 20px;">Domino/Não domino</center></td>
                </tr>
                @{/*

                    foreach (var instrumento in instrumentos)
                    {
                        <tr>
                            <td><center>@instrumento.nome</center></td>
                            <td><center><input type="checkbox" onclick="coletaInstrumento(this);" id="cbInstrumento/@instrumento.id" name="cbInstrumento/@instrumento.id" class="form-check-input" value="@instrumento.id" /></center></td>
                        </tr>
                    }
                */}
            </table>
        </div>
    </div>-->

                    <h3 style="color: white; font-weight: 300;"><u>Serviços e instrumentos</u></h3>

                    <small id="emailHelp" class="form-text text-muted"><i style="color: darkseagreen">Marque as opções que correspondem à sua alçada</i><span style="color: red; margin-left: 2px;">*</span></small><br />
                    <span style="color: darkseagreen; margin-left: 225px;">
                        <input type="button" id="btnServicos" name="btnServicos" onclick="revelaListaServicos();" class="btn-info" value="Revelar lista de serviços" style="background-color: darkseagreen; border-color: darkseagreen" />
                    </span>
                    <div class="form-group">
                        <div id="divServicos" name="divServicos" style="display:none;">
                            <br />
                            <table class="table" style="color:white;">
                                <tr>
                                    <td><center style="font-size: 20px;">Instrumento</center></td>
                                    <td><center style="font-size: 20px;">Serviço</center></td>
                                    <td><center style="font-size: 20px;">Domino/Não domino</center></td>
                                </tr>
                                @{
                                    foreach (var h in habilidades)
                                    {
                                        <tr>
                                            <td><center><b>@instrumentoPorHabilidade[h.id]</center></td>
                                            <td><center>@servicoPorHabilidade[h.id]</center></td>
                                            <td><center><input type="checkbox" onclick="coletaHabilidade(this, '@idDoInstrumentoPorHabilidade[h.id]')" id="cbHabilidade/@h.id" name="cbHabilidade/@h.id" class="form-check-input" value="@h.idServico" /></center></td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div><br />

                    <div class="form-group">
                        <h3 style="color: white; font-weight: 300;"><u>Contato</u></h3>
                        <label style="margin-left: 10px; color: white;">Celular</label>
                        <input type="checkbox" class="form-check-input" style="margin-left: 20px;" onclick="mostrarCampoCelular();" />
                        <label style="margin-left: 110px; color: white;">Telefone</label>
                        <input type="checkbox" class="form-check-input" style="margin-left: 20px;" onclick="mostrarCampoTelefone();" />
                    </div>

                    <div class="form-group" style="display: none;" id="divCelular" name="divCelular">
                        <hr class="my-4" />
                        <label style="color: white;">DDD</label><span style="color: red; margin-left: 2px;">*</span>
                        <input type="text" class="form-control" id="txtDddCelular" name="txtDddCelular" placeholder="Exemplo: 13"><br />
                        <label style="color: white;">Celular</label><span style="color: red; margin-left: 2px;">*</span>
                        <input type="text" class="form-control" id="txtCelular" name="txtCelular" placeholder="Insira apenas números">
                        <hr class="my-4" />
                    </div>

                    <div class="form-group" style="display: none;" id="divTelefone" name="divTelefone">
                        <hr class="my-4" />
                        <label style="color: white;">DDD</label>
                        <input type="text" class="form-control" id="txtDddTelefone" name="txtDddTelefone" placeholder="Exemplo: 11"><br />
                        <label style="color: white;">Telefone</label>
                        <input type="text" class="form-control" id="txtTelefone" name="txtTelefone" placeholder="Insira apenas números">
                        <hr class="my-4" />
                    </div>

                    <div class="form-group">
                        <label style="color: white;">E-mail</label><span style="color: red; margin-left: 2px;">*</span>
                        <input type="email" class="form-control" id="txtEmail" name="txtEmail" placeholder="Insira seu e-mail">
                    </div>

                    <div class="form-group">
                        <h3 style="color: white; font-weight: 300;"><u>Localização</u></h3>
                        <label style="color: white;">CEP</label><span style="color: red; margin-left: 2px;">*</span>
                        <input type="text" class="form-control" id="txtCep" name="txtCep" placeholder="Insira apenas números">
                    </div><br />

                    <div class="form-group">
                        <label style="color: white;">Número</label><span style="color: red; margin-left: 2px;">*</span>
                        <input type="text" class="form-control" id="txtNumero" name="txtNumero" placeholder="Insira apenas números">
                    </div><br />

                    <div class="form-group">
                        <label style="color: white;">Logradouro</label>
                        <input type="text" class="form-control" id="txtLogradouro" name="txtLogradouro">
                    </div><br />

                    <div class="form-group">
                        <label style="color: white;">Bairro</label>
                        <input type="text" class="form-control" id="txtBairro" name="txtBairro">
                    </div><br />

                    <div class="form-group">
                        <label style="color: white;">Cidade</label>
                        <input type="text" class="form-control" id="txtCidade" name="txtCidade">
                    </div><br />

                    <div class="form-group">
                        <label style="color: white;">UF</label>
                        <input type="text" class="form-control" id="txtUf" name="txtUf">
                    </div><br />

                    <input type="text" id="txtLatitude" name="txtLatitude" style="display:none;" />
                    <input type="text" id="txtLongitude" name="txtLongitude" style="display:none;" />
                    <input type="text" name="instrumentosSelecionados" id="instrumentosSelecionados" style="display:none;" />
                    <input type="text" name="habilidadesSelecionadas" id="habilidadesSelecionadas" value="" style="display:none;" />
                    <div class="centraliza">
                        <button type="submit" id="botaoCadastro" name="botaoCadastro" class="btn btn-primary" style="display:none;">Cadastro</button>
                        <button type="button" onclick="validaCampos()" id="botaoFake" name="botaoFake" class="btn btn-primary" style="background-color: white; color: rgba(0,0,0,.5); border-color: white">Cadastro</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var teste = 0;
    $().ready(function () {
        document.getElementById('idSessao').value = '@idDaSessao';
    });

    function mostrarCampoCelular() {
        if (document.getElementById('divCelular').style.display == "none") {
            document.getElementById('divCelular').style.display = "block";
        }
        else if (document.getElementById('divCelular').style.display == "block") {
            document.getElementById('divCelular').style.display = "none";
        }
    }

    function mostrarCampoTelefone() {
        if (document.getElementById('divTelefone').style.display == "none") {
            document.getElementById('divTelefone').style.display = "block";
        }
        else if (document.getElementById('divTelefone').style.display == "block") {
            document.getElementById('divTelefone').style.display = "none";
        }
    }

    jQuery(function ($) {
        $("input[name='txtCep']").change(function () {
            var cep_code = $(this).val();
            if (cep_code.length <= 0) return;
            $.get("http://viacep.com.br/ws/" + cep_code + "/json/", { code: cep_code }, function (resultado) {
                if (resultado.erro == 1) {
                    alert("Endereço não encontrado!")
                    $("input[name='cep']").val("");
                    $("input[name='cidade']").val("");
                    $("input[name='bairro']").val("");
                    $("input[name='endereco']").val("");
                    $("input[name='estado']").val("");
                }
                else {
                    $("input[name='txtCidade']").val(resultado.localidade);
                    $("input[name='txtBairro']").val(resultado.bairro);
                    $("input[name='txtLogradouro']").val(resultado.logradouro);
                    $("input[name='txtUf']").val(resultado.uf);

                    jQuery(function ($) {
                        var linkRequisicao = "https://nominatim.openstreetmap.org/search.php?street=" + resultado.logradouro + "&city=" + resultado.localidade + "&state=" + resultado.uf + "&format=jsonv2";
                        console.log(linkRequisicao);

                        $.get(linkRequisicao, function (resultado) {
                            if (resultado.length >= 1) {
                                validaSeAchou = true;
                                console.log(resultado.length);
                                if (resultado.length == 0) {
                                }
                                else {
                                    document.getElementById('txtLatitude').value = resultado[0].lat;
                                    document.getElementById('txtLongitude').value = resultado[0].lon;
                                    console.log(document.getElementById('txtLongitude').value);
                                    console.log(document.getElementById('txtLatitude').value);
                                }
                            }
                        });
                    });
                }
            });
        });
    });

    /*jQuery(function ($) {
        $(document).ready(function () {
            document.getElementById('txtNome').value = "A";
            document.getElementById('txtUsuario').value = "A";
            document.getElementById('txtSenha').value = "123";
            document.getElementById('txtCpf').value = "46897656754";
            document.getElementById('txtCnpj').value = "98527671000100";
            document.getElementById('txtDddCelular').value = "11";
            document.getElementById('txtCelular').value = "956477543";
            document.getElementById('txtDddTelefone').value = "16";
            document.getElementById('txtTelefone').value = "41769504";
            document.getElementById('txtEmail').value = "a@live.com";
            document.getElementById('txtCep').value = "06537120";
            document.getElementById('txtCep').dispatchEvent(new MouseEvent('click', { shiftKey: true }));
        });
    });*/

    function revelaListaServicos() {
        if (document.getElementById('divServicos').style.display == "none") {
            document.getElementById('divServicos').style.display = "block";
            document.getElementById('btnServicos').value = "Ocultar lista de serviços";

        }
        else if (document.getElementById('divServicos').style.display == "block") {
            document.getElementById('divServicos').style.display = "none";
            document.getElementById('btnServicos').value = "Revelar lista de serviços";
        }
    }

    function revelaListaInstrumentos() {
        if (document.getElementById('divInstrumentos').style.display == "none") {
            document.getElementById('divInstrumentos').style.display = "block";
            document.getElementById('btnInstrumentos').value = "Ocultar lista de instrumentos";
        }
        else if (document.getElementById('divInstrumentos').style.display == "block") {
            document.getElementById('divInstrumentos').style.display = "none";
            document.getElementById('btnInstrumentos').value = "Revelar lista de instrumentos";
        }
    }

    var arrayDosInstrumentos = [];
    var validador = true;
    function coletaHabilidade(checkBox, instrumento) {
        validador = true;
        if (document.getElementById('habilidadesSelecionadas').value == "") {
            document.getElementById('habilidadesSelecionadas').value = "[]";
            validador = true;
        }
        else if (document.getElementById('habilidadesSelecionadas').value != "") {
            var jay = document.getElementById('habilidadesSelecionadas').value;
            arrayDosInstrumentos = $.parseJSON(jay);

            for (i = 0; i < arrayDosInstrumentos.length; i++) {
                if (arrayDosInstrumentos[i].inst == instrumento && arrayDosInstrumentos[i].servico == checkBox.value) {
                    console.log("Elemento deletado! ID do index: " + i);
                    arrayDosInstrumentos.splice(i, 1);
                    
                    console.log("Após a deleção: ");
                    console.log(arrayDosInstrumentos);

                    var dadoAtualizado = JSON.stringify(arrayDosInstrumentos);
                    document.getElementById('habilidadesSelecionadas').value = dadoAtualizado;
                    validador = true;
                    checkBox.checked = false;
                    return;
                }
            }
        }

        if (validador == true) {
            var habilidade = {
                inst: instrumento,
                servico: checkBox.value
            };

            arrayDosInstrumentos.push(habilidade);
            var dadoParaEnviar = JSON.stringify(arrayDosInstrumentos);
            document.getElementById('habilidadesSelecionadas').value = dadoParaEnviar;
            console.log(document.getElementById('habilidadesSelecionadas').value);
        }
        else if (checkBox.checked == false) {
            // Retirar elemento do array e postar para 'habilidadesSelecionadas' novamente
            var jsonLesgo = document.getElementById('habilidadesSelecionadas').value;
            var servicos = $.parseJSON(jsonLesgo);

            for (i = 0; i < servicos.length; i++) {
                if (servicos[i].inst == instrumento && servicos[i].servico == checkBox.value) {
                    console.log("Index do elemento a ser deletado: " + i);
                }
            }
        }
    }

    function validaCampos() {
        var nome = document.getElementById('txtNome').value;
        var nomeUsuario = document.getElementById('txtUsuario').value;
        var senha = document.getElementById('txtSenha').value;
        var cpf = document.getElementById('txtCpf').value;
        var dddCelular = document.getElementById('txtDddCelular').value;
        var celular = document.getElementById('txtCelular').value;
        var email = document.getElementById('txtEmail').value;
        var cep = document.getElementById('txtCep').value;
        var numero = document.getElementById('txtNumero').value;
        console.log(numero);

        if (nome != "" && nomeUsuario != "" && senha != "" && cpf != "" && dddCelular != "" && celular != "" && email != "" && cep != "" && numero != "") {
            document.getElementById('botaoCadastro').click();
        }
        else {
            swal({
                title: "Opa, calma aí...",
                text: "Para ter uma conta em nosso site, é preciso preencher todos os campos sinalizados com asterisco vermelho (*).",
                icon: "error",
                buttons: false
            });
        }
    }
</script>