@{
    ViewBag.Title = "Autenticacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string tipoConta = ViewBag.TipoConta;
    Business.Conta conta = ViewBag.Conta;
    List<Business.Pedido> meusPedidos = ViewBag.Pedidos;
    List<Business.Cliente> cliente = ViewBag.ClienteDaConta;
    var clienteLogado = new Business.Cliente();
    var fotoPerfilClienteAtual = new Business.ImagemCliente();
    var fotoPerfilLuthierAtual = new Business.ImagemLuthier();

    if (cliente != null)
    {
        foreach (var clienteLogadoAgora in cliente)
        {
            clienteLogado = clienteLogadoAgora;
        }
    }

    Dictionary<int, string> todosInstrumentos = new Dictionary<int, string>();
    List<Business.Instrumento> instrumentos = new Business.Instrumento().Listar();
    int idElemento = 0;
    string nomElemento = "";
    foreach (var i in instrumentos)
    {
        idElemento = i.id;
        nomElemento = i.nome;
        todosInstrumentos.Add(idElemento, nomElemento);
    }

    Dictionary<int, string> todosServicos = new Dictionary<int, string>();
    List<Business.Servico> servicos = new Business.Servico().Listar();
    foreach (var s in servicos)
    {
        idElemento = s.id;
        nomElemento = s.descricao;
        todosServicos.Add(idElemento, nomElemento);
    }

    Dictionary<int, string> todosEstados = new Dictionary<int, string>();
    List<Business.StatusPedido> estados = new Business.StatusPedido().Listar();
    foreach (var e in estados)
    {
        idElemento = e.id;
        nomElemento = e.descricao;
        todosEstados.Add(idElemento, nomElemento);
    }

    List<Business.Luthier> luthier = ViewBag.LuthierDaConta;
    int idLuthierLogado = 0;

    if(luthier != null)
    {
        if (luthier.Count > 0)
        {
            idLuthierLogado = luthier[0].id;
        }
    }
    List<Business.Pedido> pedidosDoLuthier = new List<Business.Pedido> { };
    if (luthier != null && luthier.Count > 0)
    {
        pedidosDoLuthier = new Business.Pedido().BuscarPedidoPorLuthier(luthier[0].id);
    }

    var listaImagensDeClientes = TempData["imagensDeClientes"] as List<Business.ImagemCliente>;

    foreach (var imagem in listaImagensDeClientes)
    {
        if (imagem.idCliente == clienteLogado.id && imagem.tipoImg == "Foto de perfil")
        {
            fotoPerfilClienteAtual = imagem;
        }
    }

    var listaImagensDeLuthiers = TempData["imagensDeLuthiers"] as List<Business.ImagemLuthier>;
    foreach(var imagem in listaImagensDeLuthiers)
    {
        if(imagem.idLuthier == idLuthierLogado && imagem.tipoImg == "Foto de perfil")
        {
            fotoPerfilLuthierAtual = imagem;
        }
    }

    string donoDaContaLogada = "";
    string linkParaAnexoImg = "";
    string teste = "";

    List<Business.Contato> contatos = ViewBag.ContatosDaConta;

    List<Business.Endereco> enderecos = ViewBag.EnderecosDaConta;

    List<Business.Servico> estadosDeUmaConta = ViewBag.EstadosDeConta;
    string estadoDaConta = "";
    foreach (var estado in estadosDeUmaConta)
    {
        if (estado.id == conta.statusConta)
        {
            estadoDaConta = estado.descricao;
        }
    }
    string idDaSessao = Session.SessionID;
    string nivelAcesso = "";

    if (conta.nivelAcesso == 1)
    {
        nivelAcesso = "Usuário comum";
    }
    else if (conta.nivelAcesso == 2)
    {
        nivelAcesso = "Administrador";
    }
}

<style>
    .fotoDePerfil {
        float: right;
    }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


@{
    if (conta.usuario == null || conta.senha == null || conta.email == null)
    {
        <meta http-equiv="refresh" content="6; URL='https://gioias.net/autenticacao/login'" />

        <br />
        <br /><div class="alert alert-danger" style="margin-top: -50px" role="alert">
            <h4 class="alert-heading">Conta não encontrada!</h4>
            <p>A conta que você tentou entrar não foi encontrada em nosso banco de dados. Tente novamente...</p>
            <hr>
            <p class="mb-0">Você será redirecionado para a tela de login em 6 segundos.</p>
        </div>

        <style>
            .containerGioiano {
                width: 100%;
                height: 65vh;
                height: 65vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .water {
                width: 200px;
                height: 200px;
                background-color: skyblue;
                border-radius: 50%;
                position: relative;
                box-shadow: inset 0 0 30px 0 rgba(0,0,0,.5), 0 4px 10px 0 rgba(0,0,0,.5);
                overflow: hidden;
            }

                .water:before, .water:after {
                    content: '';
                    position: absolute;
                    width: 200px;
                    height: 200px;
                    top: -150px;
                    background-color: #fff;
                }

                .water:before {
                    border-radius: 45%;
                    background: rgba(255,255,255,.7);
                    animation: wave 5s linear infinite;
                }

                .water:after {
                    border-radius: 35%;
                    background: rgba(255,255,255,.3);
                    animation: wave 5s linear infinite;
                }

            @@keyframes wave {
                0% {
                    transform: rotate(0);
                }

                100% {
                    transform: rotate(360deg);
                }
            }
        </style>

        <div class="containerGioiano">
            <div class="water"></div>
        </div>
    }
    else
    {
        <style>
            .editar:hover {
                background-color: #ffd42a;
            }
        </style>
        /*if (TempData["contaCriada"] != null)
        {
            <br /><div id="divTemporaria" name="divTemporaria" class="alert alert-success">@TempData["contaCriada"]</div>
        }*/

        if (tipoConta == "Cliente")
        {
            <div>
                <div style="float: left;">
                    <h2>Informações da conta (Conta Cliente)</h2>
                    @if (cliente != null)
                    {
                        foreach (var clienteLogadoAqui in cliente)
                        {
                            donoDaContaLogada = clienteLogadoAqui.nome;
                            <br /><label><b>Seu nome: </b></label> @clienteLogadoAqui.nome;
                            <br /><label><b>CPF: </b></label> @clienteLogadoAqui.cpf;
                            <br /><label><b>Seu e-mail: </b></label> @clienteLogadoAqui.email;
                            <br /><label><b>Nome de usuário: &nbsp;</b></label>@conta.usuario
                            <br />
                            <label><b>Nível de acesso: &nbsp;</b></label>@nivelAcesso
                            <br />
                            <label><b>Estado da conta: &nbsp;</b></label>@estadoDaConta
                        }
                    }
                </div>
            </div>
            <div class="fotoDePerfil">
                <center>
                    <div>
                        @if (fotoPerfilClienteAtual.caminhoImagem == null || fotoPerfilClienteAtual.idCliente == 0 || fotoPerfilClienteAtual.nomeImagem == null || fotoPerfilClienteAtual.tipoImg == null)
                        {
                            <img src="~/Content/profile.jpg" width="400px" height="400px" /><br /><br />
                            if (cliente != null)
                            {
                                linkParaAnexoImg = "/../cliente/" + clienteLogado.id + "/anexar";
                            }

                            <label>Você ainda está sem foto de perfil... que tal colocar uma?</label>
                            <div style="margin-top: 0px;">
                                <a href="@linkParaAnexoImg" target="_blank" class="btn btn-primary" style="background: darkseagreen; color: white; border: white; " data-toggle="modal" data-target="#modalExemplo">Adicionar foto de perfil</a>
                            </div><br /><br />
                        }
                        else
                        {
                            <img src="~/UploadedFiles/profilePhotos/cliente/@fotoPerfilClienteAtual.nomeImagem" width="400px" height="400px" />
                        }
                    </div>
                </center>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <h2>Meus Pedidos</h2>
            <table class="table">
                <tr>
                    <td><b>Número do pedido</b></td>
                    <td><b>Status do pedido</b></td>
                    <td><b>Instrumento necessitado</b></td>
                    <td><b>Tipo de serviço solicitado</b></td>
                    <td><b>Mais informações sobre o pedido</b></td>
                </tr>
                @{
                    foreach (var pedido in meusPedidos)
                    {
                        <tr>
                            <td>@pedido.id</td>
                            <td>@todosEstados[pedido.statusPedido]</td>
                            <td>@todosInstrumentos[pedido.instrumentoAlvo]</td>
                            <td>@todosServicos[pedido.tipoServico]</td>
                            <td><a href="/pedido/visualizar/@pedido.id" class="btn btn-secondary" style="background: #ffd42a; color: rgba(0,0,0,.5); border: white;">Clique aqui</a></td>
                        </tr>
                    }
                }
            </table>
            <br />
            <br />
        }
        else
        {
            <h2>Informações da conta (Conta Luthier)</h2>
        }
        if (luthier != null)
        {
            <div>
                <div style="float:left;">
            @foreach (var luthierLogado in luthier)
            {
                donoDaContaLogada = luthierLogado.nome;
                idLuthierLogado = luthierLogado.id;
                <br /><label><b>Seu nome: </b></label> @luthierLogado.nome;
                <br /><label><b>CPF: </b></label> @luthierLogado.cpf;
                <br /><label><b>CNPJ: </b></label> @luthierLogado.cnpj;
                <br /><label><b>Seu e-mail: </b></label> @luthierLogado.email;
                <br /><label><b>Nome de usuário: &nbsp;</b></label>@conta.usuario
                <br />
                <label><b>Nível de acesso: &nbsp;</b></label>@nivelAcesso
                <br />
                <label><b>Estado da conta: &nbsp;</b></label>@estadoDaConta
            }
                </div>
                <div style="float:right;">
                    <div class="fotoDePerfil">
                        <center>
                            <div>
                                @if (fotoPerfilLuthierAtual.caminhoImagem == null || fotoPerfilLuthierAtual.idLuthier == 0 || fotoPerfilLuthierAtual.nomeImagem == null || fotoPerfilLuthierAtual.tipoImg == null)
                                {
                                    <img src="~/Content/profile.jpg" width="400px" height="400px" /><br /><br />
                                    if (luthier != null)
                                    {
                                        linkParaAnexoImg = "/../luthier/" + idLuthierLogado + "/anexar";
                                    }

                                    <label>Você ainda está sem foto de perfil... que tal colocar uma?</label>
                                    <div style="margin-top: 0px;">
                                        <a href="@linkParaAnexoImg" target="_blank" class="btn btn-primary" style="background: darkseagreen; color: white; border: white; " data-toggle="modal" data-target="#modalExemplo">Adicionar foto de perfil</a>
                                    </div><br /><br />
                                }
                                else
                                {
                                    <img src="~/UploadedFiles/profilePhotos/luthier/@fotoPerfilLuthierAtual.nomeImagem" width="400px" height="400px" />
                                }
                            </div>
                        </center>
                    </div>
                </div>
            </div>

            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            
            <br /><br /><br /><br /><br /><h2>Pedidos requisitados a mim</h2>
            <table class="table">
                <tr>
                    <td><b>Número do pedido</b></td>
                    <td><b>Status do pedido</b></td>
                    <td><b>Instrumento necessitado</b></td>
                    <td><b>Tipo de serviço solicitado</b></td>
                    <td><b>Mais informações do pedido</b></td>
                </tr>
                @{
                    foreach (var p in pedidosDoLuthier)
                    {
                        <tr>
                            <td>@p.id</td>
                            <td>@todosEstados[p.statusPedido]</td>
                            <td>@todosInstrumentos[p.instrumentoAlvo]</td>
                            <td>@todosServicos[p.tipoServico]</td>
                            <td><a href="/pedido/visualizar/@p.id" class="btn btn-secondary" style="background: #ffd42a; color: rgba(0,0,0,.5); border: white;">Clique aqui</a></td>
                        </tr>
                    }
                }

            </table>
        }
        <br />

        <h2>Números para contato</h2>
        <table class="table">
            <tr>
                <td><b>ID do contato</b></td>
                <td><b>DDD</b></td>
                <td><b>Número do contato</b></td>
                <td><b>É celular?</b></td>
                <td><b>Nome do dono do contato</b></td>
            </tr>
            @{
                foreach (var contato in contatos)
                {
                    <tr class="editar">
                        <td>@contato.id</td>
                        <td>@contato.codigo</td>
                        <td>@contato.numero</td>
                        <td>
                            @if (contato.celular == 1)
                            {<div>Sim</div> }
                            else
                            { <div>Não</div>}
                        </td>
                        <td>@donoDaContaLogada</td>
                    </tr>
                }
            }
        </table>
        <br />
        <br />
        <h2>Seu endereço</h2>
        <small id="emailHelp" class="form-text text-muted">Clique nele caso queira alterá-lo</small>
        <button style="display:none;" type="button" class="btn btn-primary" id="btnModalEnd" name="btnModalEnd" data-toggle="modal" data-target="#modalEnd">
            Launch demo modal
        </button>
        <table class="table">
            <tr>
                <td><b>Logradouro</b></td>
                <td><b>Bairro</b></td>
                <td><b>Cidade</b></td>
                <td><b>UF</b></td>
                <td><b>CEP</b></td>
            </tr>
            @{
                foreach (var endereco in enderecos)
                {
                    <tr class="editar" onclick="abrirModalEndereco(@endereco.id, @endereco.idElemento)">
                        <td>@endereco.logradouro</td>
                        <td>@endereco.bairro</td>
                        <td>@endereco.cidade</td>
                        <td>@endereco.uf</td>
                        <td>@endereco.cep</td>
                    </tr>
                }
            }
        </table>


    }
}

<!-- Modal -->
<div class="modal" tabindex="-1" id="modalExemplo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="modalEnd" name="modalEnd" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Editar endereço</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label style="color: black;">CEP</label><span style="color: red; margin-left: 2px;">*</span>
                    <input type="text" class="form-control" id="txtCep" name="txtCep" placeholder="Insira apenas números">
                </div><br />

                <div class="form-group">
                    <label style="color: black;">Número</label><span style="color: red; margin-left: 2px;">*</span>
                    <input type="text" class="form-control" id="txtNumero" name="txtNumero" placeholder="Insira apenas números">
                </div><br />

                <div class="form-group">
                    <label style="color: black;">Logradouro</label>
                    <input type="text" class="form-control" id="txtLogradouro" name="txtLogradouro">
                </div><br />

                <div class="form-group">
                    <label style="color: black;">Bairro</label>
                    <input type="text" class="form-control" id="txtBairro" name="txtBairro">
                </div><br />

                <div class="form-group">
                    <label style="color: black;">Cidade</label>
                    <input type="text" class="form-control" id="txtCidade" name="txtCidade">
                </div><br />

                <div class="form-group">
                    <label style="color: black;">UF</label>
                    <input type="text" class="form-control" id="txtUf" name="txtUf">
                </div><br />
            </div>
            <input style="display:none;" type="text" id="idEndereco" name="idEndereco" />
            <input style="display:none;" type="text" id="idDonoEndereco" name="idDonoEndereco" />
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" onclick="alterarEndereco()" style="background-color: #ffd42a; border-color: #ffd42a ">Salvar endereço</button>
            </div>
        </div>
    </div>
</div>

<script>
    function desconectaxUsuario() {
        $.ajax({
                type: "POST",
                url: '@Url.Action("ConfirmaLogin", "Autenticacao")',
                data: '',
                contentType: "application/json; charset=utf-8",
                success: function () {
                    console.log("Mario Gioia vive!")
                },
                error: function () {
                    console.log("Mario Gioia vive!")
                }
            });
    }

    $(document).ready(function () {
        desconectaxUsuario();
        // document ready
    });

    function abrirModalEndereco(idEndereco, idDono) {
        document.getElementById('idDonoEndereco').value = idDono;
        document.getElementById('idEndereco').value = idEndereco;
        console.log('@tipoConta');
        document.getElementById('btnModalEnd').click();
    }

    function alterarEndereco() {
        var idDono = document.getElementById('idDonoEndereco').value;
        var enderecoId = document.getElementById('idEndereco').value;
        var cep = document.getElementById('txtCep').value;
        var numero = document.getElementById('txtNumero').value;
        var logradouro = document.getElementById('txtLogradouro').value;
        var bairro = document.getElementById('txtBairro').value;
        var cidade = document.getElementById('txtCidade').value;
        var uf = document.getElementById('txtUf').value;
        var id = 0;

        if (cep != "" && numero != "" && logradouro != "" && bairro != "" && cidade != "" && uf != "" && '@tipoConta' == "Luthier") {
            $.ajax(
                {
                    type: 'POST',
                    dataType: 'JSON',
                    url: '@Url.Action("EditarEndereco", "Luthier")' + '/' + id,
                    data: { 'idLuthier': idDono, 'idEndereco': enderecoId, 'cep': cep, 'numero': numero, 'logradouro': logradouro, 'bairro': bairro, 'cidade': cidade, 'uf': uf },
                    success:
                        function (response) {
                            console.log(response);
                            swal({
                                title: "É sempre bom manter tudo atualizado, boa!",
                                text: "Seu endereço foi atualizado.",
                                icon: "success",
                                buttons: false
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 4500);
                        },
                    error:
                        function (response) {
                            alert("Error: " + response);
                        }
                });
        }
        else if (cep != "" && numero != "" && logradouro != "" && bairro != "" && cidade != "" && uf != "" && '@tipoConta' == "Cliente") {
            $.ajax(
                {
                    type: 'POST',
                    dataType: 'JSON',
                    url: '@Url.Action("EditarEndereco", "Cliente")' + '/' + id,
                    data: { 'idCliente': idDono, 'idEndereco': enderecoId, 'cep': cep, 'numero': numero, 'logradouro': logradouro, 'bairro': bairro, 'cidade': cidade, 'uf': uf },
                    success:
                        function (response) {
                            console.log(response);
                            swal({
                                title: "É sempre bom manter tudo atualizado, boa!",
                                text: "Seu endereço foi atualizado.",
                                icon: "success",
                                buttons: false
                            });
                            setTimeout(function () {
                                location.reload();
                            }, 4500);
                        },
                    error:
                        function (response) {
                            alert("Error: " + response);
                        }
                });
        }
        else {
            swal({
                title: "Opa, calma aí...",
                text: "Você precisa preencher todos os campos antes de tentar atualizar seu endereço.",
                icon: "error",
                buttons: false
            });
        }
    }

    jQuery(function ($) {
        $("input[name='txtCep']").change(function () {
            var cep_code = $(this).val();
            if (cep_code.length <= 0) return;
            $.get("http://viacep.com.br/ws/" + cep_code + "/json/", { code: cep_code }, function (resultado) {
                if (resultado.erro == 1) {
                    alert("Endereço não encontrado!")
                    $("input[name='cep']").val("");
                    $("input[name='cidade']").val("");
                    $("input[name='bairro']").val("");
                    $("input[name='endereco']").val("");
                    $("input[name='estado']").val("");
                }
                else {
                    $("input[name='txtCidade']").val(resultado.localidade);
                    $("input[name='txtBairro']").val(resultado.bairro);
                    $("input[name='txtLogradouro']").val(resultado.logradouro);
                    $("input[name='txtUf']").val(resultado.uf);
                }
            });
        });
    });
</script>